:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  /*--background-color: #ffffff;*/
}
.body {
  font-family: Roboto;
  color: var(--primery-text-color);
  font-weight: 500;
  background-color: var(--primery-white-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}

/* Header */
.container {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
.navigation {
  display: flex;
}
.logo-accent {
  color: var(--accent-color);
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

/* contacts */
.address {
  display: flex;
}
.address .address-cont {
  display: flex;
}
.address-cont .address-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.address-cont .address-mail:hover,
.address-cont .address-mail:focus {
  color: var(--accent-color);
}

.address-cont .address-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.address-cont .address-tel:hover,
.address-cont .address-tel:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background-color: #2f303a;
}

/* button */

.modal-btn {
  border-radius: 4px;
  padding: 12px 30px 8px;
  margin: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

/* features */
.section-title,
.features .title {
  color: var(--title-text-color);
}

/*crew*/
.crewlist .name {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*our service*/
.service-list .service-item {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.service .service-item:hover,
.service .service-item:focus {
  color: var(--accent-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project .project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.footer {
  background-color: #2f303a;
}
.footer .logo {
  color: var(--primery-white-color);
}
/*sity*/
.address-tube {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.address-tube .address-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.address-tube .address-mail:hover,
.address-tube .address-mail:focus {
  color: var(--accent-color);
}

.address-tube .address-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.address-tube .address-tel:hover,
.address-tube .address-tel:focus {
  color: var(--accent-color);
}

.footer .location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /*color: #ffffff;*/
}
