:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  /*--background-color: #ffffff;*/
}
.body {
  font-family: Roboto;
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}

.container {
  flex-direction: column;
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  padding: 30px 0;
}
.logo-accent {
  color: var(--accent-color);
}
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation .navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--title-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

/* contacts */
.container-box {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-first {
  display: flex;
}
.address {
  display: flex;
}
.address .address-cont {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.address .address-list:not(:last-child) {
  margin-right: 50px;
}
.address .address-mail {
  margin-left: 330px;
}
.address-cont .address-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--primery-text-color);
}
.address-cont .address-mail:hover,
.address-cont .address-mail:focus {
  color: var(--accent-color);
}

.address-cont .address-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--primery-text-color);
}
.address-cont .address-tel:hover,
.address-cont .address-tel:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background-color: #2f303a;
}

/* button */

.modal-btn {
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border-color: none;
  outline: none;
}

/* features */
.container-second {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}
.features-list-title {
  padding-bottom: 10px;
  color: var(--title-text-color);
}
.features-list .features-list-item {
  padding-top: 94px;
  font-weight: 400;
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.features-list-item + .features-list-item {
  margin-left: 30px;
}

/*===== Subject of duties =========*/

.section-duties {
  padding: 94px 0 50px;
}

.section-duties-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.container-duties {
  display: flex;
}
/*==========portfolio============*/
.service-list .service-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /*text-align: center;*/
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.service .service-item:hover,
.service .service-item:focus {
  color: var(--accent-color);
}

.section-crew {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.section-crew-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 57px;
}
.crew {
  display: flex;
  width: 270px;
  text-align: center;
  padding-bottom: 30px;
}
.crewlist:not(:last-child) {
  margin-right: 30px;
}
.crew .name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.187;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-style: normal;
  letter-spacing: 0.03em;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-img {
  background-color: F5F4FA;
}

.project .project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/*-- footer --*/
.footer {
  display: flex;
  background-color: #2f303a;
}

.footer .logo-tube {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}
.address-mail-item .location {
  color: var(--primery-white-color);
}
.address-tube {
  display: flex;
  padding: 60px 15px;
}
.address-tube-list {
  margin-top: 20px;
}
.address-mail-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-tube .location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  font-weight: 400;
  color: var(--primery-white-color);
}

.address-tube .address-mail {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-tube .address-mail:hover,
.address-tube .address-mail:focus {
  color: var(--accent-color);
}

.address-tube .address-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-tube .address-tel:hover,
.address-tube .address-tel:focus {
  color: var(--accent-color);
}
